<div class="container">
    <table class="table table-light">
        <thead>
            <tr>
                <td>Name</td>
                <td>Price</td>
                <td>Action</td>
            </tr>
        </thead>
    
        <tbody>
            <tr *ngFor="let product of products, let idx = index">
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td> 
                    <a [routerLink]="['edit',product.id]" class="btn btn-primary">Edit</a> | 
                    <a (click)="deleteItem(product.id)" class="btn btn-danger">Delete</a> 
                </td>
            </tr>

        </tbody>
    </table>
</div>
