<!-- <h1> Xin chao {{ name }} </h1>

<img [src]="image" alt="" srcset="">

<input 
  type="button" value="Click me" 
  (click)="handleClick()"
>

<input type="text" [(ngModel)]="name"> -->

<!-- <app-b-property></app-b-property> -->

<!-- <app-app-numbers></app-app-numbers> -->

<!-- <app-input [title]="title"></app-input> -->

<!-- <app-output (appClick)="appComponentClick($event)"></app-output> -->

<!-- <app-product-add></app-product-add> -->

<!-- <app-product-edit></app-product-edit> -->

<!-- <app-product-list></app-product-list> -->

<router-outlet></router-outlet>